env/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/

logs/

*.sql
*.db
*.sqlite3

public/auto_collected/
public/media/
public/media_defaults/

public/static/robots.txt
gis/.htaccess

*.css.map
